{% extends admin.getTemplate('base_list_field') %}
{% trans_default_domain 'admin' %}

{% block field %}
  {% spaceless %}
    <span style="margin-right: 8px">{{ object.lastRefresh ? object.lastRefresh|date('commons.format'|trans) : '' }}</span>
    {% if object.logs|length > 0 and object.isDynamicImport %}
      {% set log = object.logs[0] %}
      {% if log.getDataProp('elementsCreatedCount') > 0 %}
        <span class="label label-success log-label">{{ 'imports.fields.elementsCreatedCount'|trans({'%count%': log.getDataProp('elementsCreatedCount')}) }}</span>
      {% endif %}
      {% if log.getDataProp('elementsDeletedCount') > 0 %}
        <span class="label label-danger log-label">{{ 'imports.fields.elementsDeletedCount'|trans({'%count%': log.getDataProp('elementsDeletedCount')}) }}</span>
      {% endif %}
      {% if log.getDataProp('elementsUpdatedCount') > 0 %}
        <span class="label label-primary log-label">{{ 'imports.fields.elementsUpdatedCount'|trans({'%count%': log.getDataProp('elementsUpdatedCount')}) }}</span>
      {% endif %}
      {% if log.getDataProp('elementsNothingToDoCount') > 0 %}
        <span class="label label-default log-label">{{ 'imports.fields.elementsNothingToDoCount'|trans({'%count%': log.getDataProp('elementsNothingToDoCount')}) }}</span>
      {% endif %}
      {% if log.getDataProp('elementsErrorsCount') > 0 %}
        <span class="label label-danger log-label">{{ 'imports.fields.elementsErrorsCount'|trans({'%count%': log.getDataProp('elementsErrorsCount')}) }}
      {% endif %}

      <style>
        .label.log-label { margin-right: 5px; }
      </style>
    {% endif %}
  {% endspaceless %}
{% endblock %}