{% extends "saas/sass-layout.html.twig" %}

{% set pageName = 'register' %}
{% set navTitle = 'projects.initialize._label'|trans %}

{% block body %}
    <h1 class="panel-title">{{ 'projects.initialize._label'|trans }}</h1>
    <section>

        <form action="{{ path('gogo_saas_initialize_project') }}" method="POST" class="simple-form form-horizontal">

            <div class="row">
                <div class="error">{{ form_errors(form) }}</div>

                <div class="error">{{ form_errors(form.username) }}</div>
                <div class="input-field col s12">
                    <i class="material-icons gogo-icon-account-circle prefix"></i>
                    {{ form_widget(form.username, {'id': 'input-username', 'attr': {'class': 'validate required'}}) }}
                    <label for="input-username" class="gogo-form-label">{{ 'projects.initialize.username'|trans }}</label>
                </div>

                <div class="error">{{ form_errors(form.email) }}</div>
                <div class="input-field col s12">
                    <i class="material-icons gogo-icon-mail prefix"></i>
                    {{ form_widget(form.email, {'id': 'input-email', 'attr': {'class': 'validate required'}}) }}
                    <label for="input-email" class="gogo-form-label">{{ 'projects.initialize.email'|trans }}</label>
                </div>

                <div class="error">{{ form_errors(form.plainPassword.first) }}</div>
                <div class="input-field col s12">
                    <i class="material-icons gogo-icon-lock prefix"></i>
                    {{ form_widget(form.plainPassword.first, {'id': 'input-plainPassword-1', 'attr': {'class': 'validate required'}}) }}
                    <label for="input-plainPassword-1" class="gogo-form-label">{{ 'projects.initialize.plainPassword-1'|trans }}</label>
                </div>
                <div class="error">{{ form_errors(form.plainPassword.second) }}</div>
                <div class="input-field col s12">
                    <i class="material-icons gogo-icon-lock prefix"></i>
                    {{ form_widget(form.plainPassword.second, {'id': 'input-plainPassword-2', 'attr': {'class': 'validate required'}}) }}
                    <label for="input-plainPassword-2" class="gogo-form-label">{{ 'projects.initialize.plainPassword-2'|trans }}</label>
                </div>
            </div>

           <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-success" />

        </form>
    </section>

{% endblock %}